/* styles.css */
body {
  background-color: #ffe6f0; /* Fond rose pâle */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
  max-width: 400px;
  margin: auto;
  padding-top: 50px;
}

#ecran {
  background-color: #ffb6c1;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 15px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#memoire {
  color: #ff69b4;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn {
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 15px 0;
}

.btn-custom-clear {
  background-color: #ff5c8d;
  color: #fff;
}

.btn-custom-memory,
.btn-custom-operator {
  background-color: #ff69b4;
  color: #fff;
}

.btn-custom-number {
  background-color: #ffb6c1;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}
